@media (prefers-reduced-motion: no-preference) {
  :root {
      scroll-behavior: smooth;
  }
}
* {
padding: 0px;
margin: 0px;
border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  background-color: #25282a;
}

.header {
  width: 100%;
}

.outside-layout {
  width: 100%;
  background-color: #25282a;
  padding: 2% 2% 2% 2%;
}

.slider-content {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 900;
 
}

 .slider-header {
  text-align: center;
  padding-bottom: 2vh;
  color:rgb(37, 247, 30)
 }

 .bug-block {
  width: 100%;
  height: 0%;
  background: url("./assets/img/bug.png") no-repeat center center;
  background-size: contain;
  background-color: white;
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  border: 0.1vw solid #ffffff;
  border-radius: 1vw;
 }

 .real-life-block {
  width: 100%;
  height: 0%;
  background: url("./assets/img/real-life.png") no-repeat center center;
  background-size: contain;
  background-color: white;
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  border: 0.1vw solid #ffffff;
  border-radius: 1vw;
 }

 .step-block {
  width: 100%;
  height: 0%;
  background: url("./assets/img/step.jpg") no-repeat center center;
  background-size: contain;
  background-color: white;
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  border: 0.1vw solid #ffffff;
  border-radius: 1vw;
 }

 .users-block {
  width: 100%;
  height: 0%;
  background: url("./assets/img/users.jpg") no-repeat center center;
  background-size: contain;
  background-color: white;
  opacity: 0;
  overflow: hidden;
  border: 0.1vw solid #ffffff;
  border-radius: 1vw;
 }

 .slider-circle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.7vw;
 }

 .slider-circle-bug, .slider-circle-real-life, .slider-circle-step, .slider-circle-users {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #7faae8;
  cursor: pointer;
  transition: 0.4s;
 }

span {
  display: inline-block;
  width: 2vw;
  height: 2vw;
 }

 .slider-circle-bug:hover, .slider-circle-real-life:hover, .slider-circle-step:hover, .slider-circle-users:hover {
  background-color: #ffffff;;
 }

 .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }

 .slider-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
 }

 .slider-text-bug{
  width: 0%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .5s .5s, opacity .5s;
  color: white;
 }

 .slider-text-real-life{
  width: 0%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .5s .5s, opacity .5s;
  color: white;
 }

 .slider-text-step{
  width: 0%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .5s .5s, opacity .5s;
  color: white;
 }

 .slider-text-users{
  width: 0%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .5s .5s, opacity .5s;
  color: white;
 }
 
 input {
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
 }

 .slide-bug-input:checked + .bug-block {
  height: 100%;
  opacity: 1;
  z-index: 100;
  transition: .4s;
 }

 .slide-bug-input:checked ~ * .slider-text-bug {
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
  transition: .85s;
 }

 .slide-bug-input:checked ~ * .slider-circle-bug {
  border: 0.1vw solid #7faae8;
  border-radius: 50%;
  background-color: #25282a;
}

.slide-bug-input:checked ~ * .slider-circle-bug:hover {
  border: 0.1vw solid #ffffff;
  border-radius: 50%;
  background-color: #25282a;
}

#slide-real-life:checked + .real-life-block {
  height: 100%;
  opacity: 1;
  z-index: 100;
  transition: .4s;
 }

 #slide-real-life:checked ~ * .slider-text-real-life {
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
  transition: .85s;
 }

#slide-real-life:checked ~ * .slider-circle-real-life {
  border: 0.1vw solid #7faae8;
  border-radius: 50%;
  background-color: transparent;
}

#slide-real-life:checked ~ * .slider-circle-real-life:hover {
  border: 0.1vw solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

#slide-step:checked + .step-block {
  height: 100%;
  opacity: 1;
  z-index: 100;
  transition: .4s;
 }

 #slide-step:checked ~ * .slider-text-step {
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
  transition: .85s;
 }

#slide-step:checked ~ * .slider-circle-step {
  border: 0.1vw solid #7faae8;
  border-radius: 50%;
  background-color: transparent;
}

#slide-step:checked ~ * .slider-circle-step:hover {
  border: 0.1vw solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

#slide-users:checked + .users-block {
  height: 100%;
  opacity: 1;
  z-index: 100;
  transition: .4s;
 }

 #slide-users:checked ~ * .slider-text-users {
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
  transition: .85s;
 }

#slide-users:checked ~ * .slider-circle-users {
  border: 0.1vw solid #7faae8;
  border-radius: 50%;
  background-color: transparent;
}

#slide-users:checked ~ * .slider-circle-users:hover {
  border: 0.1vw solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

@media screen and (max-width: 1020px) {
  @media (prefers-reduced-motion: no-preference) { 
      :root {
      scroll-behavior: smooth;
  }}

  .slider-content {
    gap: 0.2vw;
  }

  .controls {
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider-text-wrapper {
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Inter';
  }

  .slider-circle-bug, .slider-circle-real-life, .slider-circle-step, .slider-circle-users {
    width: 2vw;
    height: 2vw;
   }

}


